/*body {font-family:"lucida grande",tahoma,verdana,arial,sans-serif} */

/* resolve conflict jquery ui and bootstrap datepicker */
.ui-datepicker.ui-widget .ui-widget-header {color:#444; font-weight:normal}
.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {padding:6px}
.table > tbody > tr.rowSum{
	background: #f2f2f2;
}

div.stickyHeader {
	position: fixed;
    top: 0;
    z-index: 9;
}
table td a{
	color:#555 !important;
}
table td a:hover{
	color:red !important;
}
table > .row{white-space: nowrap;}
.nav-tabs > li > a{	white-space: nowrap;}
.breadcrumb {margin-bottom:8px; padding:8px 12px}
.breadcrumb a{	white-space: nowrap;}
.tab-content {padding:10px 0}
.footer {clear:both}
.top-bar {padding:0 5px}
.top-bar .logo {top:0; padding:5px 0}
	.topMenu {padding:2px 0 0 0}
	.topMenu .nav-tabs {border:0}
    .topMenu .nav > li{
        padding: 0 0;
    }
	.topMenu .nav > li > a {font-size: 13px;padding: 9px 15px 11px 15px; background:none; border:none; color:#fff;margin: 0 0;}
	.topMenu .nav > li.active > a {
        box-shadow: 0 -2px #CBCBCB;
        border: none;
        background: #FFF;
        color: #AB1D1D;
    }
    .topMenu .nav > li > a:hover, .topMenu .nav > li.active > a:hover{
        box-shadow: 0 -2px #CBCBCB;
        border: none;
        background: #FFF;
        color: #AB1D1D;
    }
    .top-bar .logged-user .btn .name{
        font-family: Arial, "Helvetica Neue", "Helvetica", Tahoma, Verdana, sans-serif;
    }
    .top-bar .logged-user .dropdown-menu{
        left: -88px;
        top: 29px;
    }
	.topUserBar {padding:5px 5px 0}
.topMenuToggle, .main-nav-toggle {cursor:pointer}
.topMenuToggle {float:right; padding:0 6px 0 18px}
	.topMenuToggle .fa {font-size:28px; color:#fff}
	@media screen and (max-width: 992px){.topMenu{display:none}}
	.main-nav-toggle {padding:0 12px 0 6px}
	.main-nav-toggle .fa {font-size:18px}
#searchFeatures {float:right; font-size:18px; color:#fff; margin:6px 12px 0; cursor:pointer}

.bottom .container .content-wrapper {background:#fff; min-height:650px}
.content-wrapper {padding:15px}


.dropdown:hover .dropdown-menu {display: block}

.paginator a, .paginator span {padding:0 6px}

form label.required span {color:red}
.form-group {margin-bottom:12px !important}
.form-control {height:30px; padding:4px 8px}
select.form-control {background:#fff}
.form-inline select {max-width:150px}

.filterContainer, .dgContainer {margin-bottom:24px}
.dgActions {clear:both; margin-bottom:12px; overflow:hidden}
.dgContainer table {background:#fff}
table th, table .colCheckbox, table .colControls {text-align:center}
table .colNumber {text-align: right;}
table .colNb {text-align:right}
.table .col-align-left {text-align:left;}
.table .col-align-center {text-align:center;}
.table .col-align-right {text-align:right;}
table a{cursor:pointer}
table i.description{font-size: 0.8em;}
.widget-table .dgButtons {padding-bottom:12px}
.widget-table .paginatorItem {text-align:right}
.icon{font-size:1.2em}
.color-blue{color:#428bca}
.color-red{color:#f73838}
.color-green{color:#50FC21}

.thead{
	background:#f2f2f2;
	font-weight:bold;
}

.textBlack{
	color:black !important;
}

.smallFont{
	font-size: 11px;
}

/*Task status color*/
.taskStt1, .taskStt2, .taskStt3, .taskStt4, .taskStt5, .taskStt6, .taskStt7, .taskStt8, .taskStt9{color:#333}
.taskStt1 {background:#E2EFDA}
.taskStt2 {background:#e3b7eb}
.taskStt3 {background:#c2dfff}
.taskStt4 {background:#ffcd85}
.taskStt5 {background:#fcbdbd}
.taskStt6 {background:#fff494}
.taskStt7 {background:#d2f5b0}
.taskStt8 {background:#c9ccc4}
.taskStt9 {background:#81F4FF}

/* Severity, priority color*/
.severity1, .priority1{background:#f2dede}
.severity2, .priority2{background:#fcf8e3}
.severity3, .priority3{background:#d9edf7}
.severity4, .priority4{background:#dff0d8}
.severity5, .priority5{background:#A9A994}

/*Fix Dropzone*/
.dropzone .dz-message:before{content: none !important}
.dropzone{height: none !important}
/*Inline form-controls*/
.form-control-inline{
	display: inline-block;
}
/*Bold column*/
/*.focusColumn{border-left: 2px solid #FF3333 !important;border-right: 2px solid #FF3333 !important}*/

/*Rung chuong*/
@keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(30deg); }
	3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	9% { transform: rotate(30deg); }
	11% { transform: rotate(-28deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }
	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
}

.bell {
	animation: ring 2s 1s ease-in-out infinite;
	transform-origin: 50% 4px;
}
.logged-user .dropdown-menu{
	position:absolute;
	left:-89px;
}
#overlay
{
background-color: black;
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 99;
opacity: 0.5;
}
.icon-chevron-down, .icon-chevron-up{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.icon-chevron-down:before{
	content: "\f0dd";
}
.icon-chevron-up:before{
	content: "\f0de";
}
tr.editing{
	background: #FAF6E8;
}
.widget.widget-no-background{
	background: none;
}
.parsley-description-list{
	padding: 0;
	margin: 0;
}
.parsley-description-list li{
	list-style: none;
	font-size: 0.9em;
	color: gray;
}
.widget .widget-header h3{
	white-space: nowrap;
}
.global-project-select-outer{
	background-color: #ececec;
	border: 1px solid #ddd;
    border-color: #ddd;
    border-radius: 0;
	margin-right: 2px;
}
.global-project-select{
	width: 150px;
	height: 30px;
	line-height: 30px;
	margin: 5px;
	display: block;
}
.fontsize-85{
	font-size: 0.85em;
}
.fontsize-90{
	font-size: 0.9em;
}
.fontsize-100{
	font-size: 1em;
}
.fontsize-110{
	font-size: 1.1em;
}
.fontsize-120{
	font-size: 1.2em;
}
.fontsize-130{
	font-size: 1.3em;
}
.fontsize-140{
	font-size: 1.4em;
}
.fontsize-150{
	font-size: 1.5em;
}
.lolify .lolify-control{
	padding-right: 0;
}
.lolify .lolify-control .dropdown-menu a{
	cursor: pointer;
}
.lolify .lolify-bookmark, .lolify .lolify-features{
	margin-left: 3px;
}
.lolify .lolify-control .btn{
	border-color: #ccc;
	background: none;
}
.lolify .lolify-control .btn:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.lolify .lolify-default, .lolify .lolify-extend{
	padding-left: 0;
}
.lolify .lolify-extend{
	background: #eee none repeat scroll 0 0;
    margin-bottom: 10px;
    padding: 10px 0 0 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.paginatorItem .paginator{
	text-align: right;
}
 .bottom .container .nav-tabs .dropdown:last-child .dropdown-menu{
 	    left:-129px;
    }
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}
.disabled{
	background-color: #eee;
}
.form-control.form-control-refixheight{
	height: auto;
	min-height: 30px;
}