.mentee-dashboard #modal-content #feedback_form {
  margin: 0px;
  background-color: #fff
}

.mentee-dashboard #modal-content .modal-header {
  padding: 20px 20px
}

.mentee-dashboard #modal-content .modal-field {
  padding: 15px 30px 30px
}

.mentee-dashboard #modal-content .modal-field .question-title {
  margin-bottom: 2px
}

.mentee-dashboard #modal-content .modal-footer {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 4px
}

.mentee-dashboard #modal-content .white {
  color: #fff
}

.mentee-dashboard .findLongterm {
  line-height: 1.2;
  padding: 1em 1.2em 0.9em
}

.mentee-dashboard .logo {
  width: 40px;
  height: auto
}

.mentee-dashboard .tmplt-loading.for-longterm {
  background: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd
}

.mentee-dashboard .editLink {
  cursor: pointer;
  margin-left: 5px
}

.mentee-dashboard .editLabel {
  padding: 10px 0px 0px 0px;
  margin-bottom: 7px;
  font-size: 16px
}

.mentee-dashboard .editInput {
  box-sizing: border-box;
  resize: none;
  margin: 0px;
  padding: 5px;
  width: 100%
}

.mentee-dashboard .onboarding-actions .get-started {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  margin-right: 5px
}

.mentee-dashboard .onboarding-actions .block-title {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  color: #999;
  margin: 40px 0px 20px;
  background-color: transparent
}

.mentee-dashboard .onboarding-actions .block-title:before {
  border-top: 1px solid #d2d2d2;
  box-shadow: 0 -1px 1px white inset;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 2px;
  z-index: -1
}

.mentee-dashboard .onboarding-actions .block-title span {
  background-color: #e9eaec;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400
}

.mentee-dashboard .onboarding-actions .block-title span .link {
  color: #999
}

.mentee-dashboard .onboarding-actions .icon-wrapper {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 2px solid #666;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin: 15px 0px
}

.mentee-dashboard .onboarding-actions i.service-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url("../../image/home/service_icons_gray.png") no-repeat;
  background-size: 250px 50px
}

.mentee-dashboard .onboarding-actions i.service-icon.icon-live-help {
  background-position: 0px
}

.mentee-dashboard .onboarding-actions i.service-icon.icon-hire {
  background-position: -50px 0px
}

.mentee-dashboard .onboarding-actions i.service-icon.icon-monthly {
  background-position: -100px 0px
}

.mentee-dashboard .onboarding-actions i.service-icon.icon-class {
  background-position: -150px 0px
}

.mentee-dashboard .onboarding-actions i.service-icon.icon-recource {
  background-position: -200px 0px
}

.mentee-dashboard .onboarding-actions .description {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 20px;
  min-height: 60px
}

.mentee-dashboard .onboarding-actions .action-module {
  padding: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #fff 10%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(10%, #fff));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #fff 10%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #fff 10%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #fff 10%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #fff 10%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0)
}

.mentee-dashboard .onboarding-actions .gradient-blue-module {
  background: #b8deb7;
  background: -moz-linear-gradient(top, #b8deb7 0%, #56abbc 0%, #1e83ab 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8deb7), color-stop(0%, #56abbc), color-stop(100%, #1e83ab));
  background: -webkit-linear-gradient(top, #b8deb7 0%, #56abbc 0%, #1e83ab 100%);
  background: -o-linear-gradient(top, #b8deb7 0%, #56abbc 0%, #1e83ab 100%);
  background: -ms-linear-gradient(top, #b8deb7 0%, #56abbc 0%, #1e83ab 100%);
  background: linear-gradient(to bottom, #b8deb7 0%, #56abbc 0%, #1e83ab 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8deb7', endColorstr='#1e83ab', GradientType=0)
}

.mentee-dashboard .onboarding-actions .gradient-blue-module .icon-wrapper {
  border-color: #fff
}

.mentee-dashboard .onboarding-actions .gradient-blue-module i.service-icon {
  background: url("../../image/home/service_icons_gray.png") no-repeat;
  background-size: 250px 50px
}

.mentee-dashboard .onboarding-actions .gradient-blue-module .description {
  color: #fff
}

.mentee-dashboard .onboarding-actions .action-link {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #39add1;
  padding: 5px 20px
}

.mentee-dashboard .onboarding-actions .module {
  background-color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 20px 0px;
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #fff 10%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(10%, #fff));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #fff 10%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #fff 10%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #fff 10%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #fff 10%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0)
}

.mentee-dashboard .onboarding-actions .module .module-header {
  border-left: 5px solid #39add1;
  padding: 5px 20px;
  display: flex;
  display: -webkit-flex;
  margin-bottom: 10px;
  height: 70px
}

.mentee-dashboard .onboarding-actions .module .module-header .module-header__left {
  width: 70px
}

.mentee-dashboard .onboarding-actions .module .module-header .module-header__left .mentor-image {
  width: 60px;
  height: 60px
}

.mentee-dashboard .onboarding-actions .module .module-header .module-header__right {
  flex: 1;
  -webkit-flex: 1
}

.mentee-dashboard .onboarding-actions .module .module-header .module-header__right .module-event-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  color: #5a6772;
  display: inline-block;
  margin-bottom: 5px
}

.mentee-dashboard .onboarding-actions .module .module-header .module-header__right .mentor-name {
  color: #999;
  font-weight: bold;
  font-size: 12px
}

.mentee-dashboard .onboarding-actions .module .module-time {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #999;
  padding: 5px 20px
}

.mentee-dashboard .onboarding-actions .module .module-event-description {
  font-size: 14px;
  line-height: 24px;
  color: #7f8a94;
  padding: 5px 20px;
  height: 96px;
  display: block
}

.mentee-dashboard .onboarding-actions .module .module-event-description:hover {
  text-decoration: none
}

.mentee-dashboard .onboarding-actions .separator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  margin: 20px 0px
}
